/dts-v1/;
/memreserve/ 0x00000000 0x04080000;
/* reserved for bootloader */

#include <dt-bindings/gpio/gpio.h>
#include "hi3798cv200.dtsi"
#include "poplar-pinctrl.dtsi"

/ {
	model = "is-s10";
	compatible = "is,s10", "hisilicon,hi3798cv200";

	aliases {
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	leds {
		compatible = "gpio-leds";

		/* 系统运行指示灯 - 蓝 */
		system_ready {
			label = "blue:power";
			gpios = <&gpio9 0 GPIO_ACTIVE_LOW>; /* 对应 477 */
			default-state = "on";
		};

		/* 交互反馈灯 - 默认关闭，触发时闪烁 */
		ir_feedback {
			label = "blue:status";
			gpios = <&gpio8 1 GPIO_ACTIVE_LOW>; /* 对应 472 的蓝色端 */
			linux,default-trigger = "rc-feedback";
		};

		/* 启动提示灯 - 绿 */
		boot_indicator {
			label = "green:boot";
			gpios = <&gpio11 0 GPIO_ACTIVE_HIGH>; /* 对应 493 */
			default-state = "off";
		};
	};

	vcc_sata: regulator-vcc-sata {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sata";
		gpio = <&gpio10 7 GPIO_ACTIVE_HIGH>; /* 对应 492 */
		enable-active-high;
		regulator-boot-on;
	};

	vcc_wifi: regulator-vcc-wifi {
		compatible = "regulator-fixed";
		regulator-name = "vcc-wifi";
		/* Android 79 = Ubuntu 484 (GPIO9_7) */
		gpio = <&gpio9 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};
}; /* 根节点在此闭合 */

/* --- 以下是针对各个控制器的开启与配置 --- */

&gpio2 { status = "okay"; };
&gpio3 { status = "okay"; };
&gpio6 { status = "okay"; };
&gpio8 { status = "okay"; };
&gpio9 { status = "okay"; };
&gpio10 { status = "okay"; };
&gpio11 { status = "okay"; };

&emmc {
	status = "okay";
	num-slots = <1>;
	fifo-depth = <256>;
	clock-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	bus-width = <8>;
};

&gmac1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&eth_phy1>;
	phy-mode = "mii"; /* 百兆模式 */

	eth_phy1: phy@1 {
		reg = <1>;
	};
};

&sd0 {
	bus-width = <4>;
	cap-sd-highspeed;
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

/* USB PHY 配置，用于板载 WiFi */
&usb2_phy1 {
	status = "okay";
};

&usb2_phy1_port1 {
	status = "okay";
};

&xhci0 {
	status = "okay";
	phys = <&usb2_phy1_port1>;
	phy-names = "usb2-phy";
};

&ohci { status = "okay"; };
&ehci { status = "okay"; };

&sata {
	status = "okay";
	target-supply = <&vcc_sata>;
};

&combphy1 {
	sata-controller = <&sata>;
	assigned-clocks = <&crg 80>;
	assigned-clock-parents = <&crg 66>;
	assigned-clock-rates = <25000000>;
};

&pmx0 {
	pinctrl-single,gpio-range = <
		&range 0  8 2  /* 【关键】恢复模式 2，保住 UART0 串口输出 */
		&range 8  1 0  
		&range 9  4 2  /* 保留原厂配置 */
		&range 13 1 0
		&range 14 1 1
		&range 15 1 0
		&range 16 5 0  /* GPIO 2 */
		&range 21 3 0
		&range 24 4 0  /* GPIO 3 */
		&range 28 2 2
		&range 86 1 1
		&range 87 1 0
		&range 30 4 2  /* GPIO 4 */
		&range 34 3 0
		&range 37 1 2
		&range 38 3 2  /* GPIO 6 */
		&range 41 2 0
		&range 46 3 2  /* GPIO 7 */
		&range 49 5 0  /* GPIO 7 */
		&range 54 8 0  /* GPIO 8 */
		
		/* --- 下面这几行是重点改造区，把 RGMII 抢回来做 GPIO --- */
		&range 64 8 0  /* GPIO 9: 包含 LED(477) 和 WiFi电源(484) */
		&range 72 8 0  /* GPIO 10: 包含 SATA电源(492) */
		&range 80 8 0  /* GPIO 11: 包含绿灯(493) */
		
		&range 88 8 0  /* GPIO 12 */
	>;

	pinctrl-names = "default";
	pinctrl-0 = <
		&emmc_pins_1
		&emmc_pins_2
		&emmc_pins_3
		&emmc_pins_4
		&i2c0_pmx_cfg
		&gpio_pmx_cfg
		/* 已剔除 SN1 专有的 SDIO 和 BT 引脚配置 */
	>;
};
