/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "hi3798cv200.dtsi"
#include "poplar-pinctrl.dtsi"

/ {
	model = "S10-TVBox";
	compatible = "hisilicon,hi3798cv200";

	aliases {
		serial0 = &uart0;
		sata0 = &sata;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>; /* 2GB RAM */
	};

	/* 定义 SATA 硬盘电源 */
	vcc_sata: regulator-vcc-sata {
		compatible = "regulator-fixed";
		regulator-name = "vcc-sata";
		gpio = <&gpio9 4 GPIO_ACTIVE_HIGH>; /* 你测得的 492 */
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-always-on;
	};

	/* 定义其他必须拉高的 GPIO (72 和 79) */
	vcc_pwr_extra: regulator-vcc-extra {
		compatible = "regulator-fixed";
		regulator-name = "vcc-extra";
		/* 我们可以用一个 dummy 节点或者在 pinctrl 里处理，
		   这里用 regulator 方式最稳妥 */
		gpio = <&gpio9 0 GPIO_ACTIVE_HIGH>; /* Android 下的 72 */
		enable-active-high;
		regulator-always-on;
	};

	vcc_pwr_extra2: regulator-vcc-extra2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-extra2";
		gpio = <&gpio9 7 GPIO_ACTIVE_HIGH>; /* Android 下的 79 */
		enable-active-high;
		regulator-always-on;
	};
};

&uart0 {
	status = "okay";
};

/* SATA 配置 */
&sata {
	status = "okay";
	target-supply = <&vcc_sata>;
};

&combphy1 {
	status = "okay";
	assigned-clocks = <&crg 80>;
	assigned-clock-parents = <&crg 66>;
	assigned-clock-rates = <25000000>;
};

/* eMMC 配置 */
&emmc {
	status = "okay";
	num-slots = <1>;
	fifo-depth = <256>;
	clock-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	bus-width = <8>;
};

/* SD卡配置 */
&sd0 {
	status = "okay";
	bus-width = <4>;
	cap-sd-highspeed;
};

/* 网络配置 (RMII, PHY ID 1) */
&gmac1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	phy-handle = <&eth_phy1>;
	phy-mode = "rmii";
	hisilicon,phy-reset-delays-us = <30000 30000 50000>;

	eth_phy1: phy@1 {
		reg = <1>;
	};
};
